$white: #fff;
$skyblue: #0EB2D0;
$darkgray: #141414;
$black: #000;
$lightGray: #F3F3F3;
$thinGray:#FBF9F9;
$gray: #CBCBCB;
$steelGray: #E8E8E8;

$dimblack:#333333;
$dingrey:#9E9E9E;
$darkslategrey: #707070;
$metallicsilver: #dfdede;
$lightplantium:#DFDEDE;
$plantium: #DEDEDE;
$lightblue:#0ea4bf;
$greyplantium:#6E6E6E;
$azure:#707070;

$extra-large-device: 1600px;
$large-device: 1440px;
$laptop-device: 1360px;
$medium-device: 1199px;
$tablet-device: 991px;
$large-mobile-device: 767px;
$mobile-device: 575px;
$small-device: 481px;
$mini-device: 425px;